@{
    ViewData["Title"] = "Home Page";
    var dinos = ViewData["dinos"] as Dino;
    var whens = ViewData["whens"] as List<When>;
}
<form asp-controller="Home" asp-action="EditDina" asp-route-id="@dinos.Id" method="post" enctype="multipart/form-data" class="m-3">
    <div class="m-3">
        <label for="name" class="form-label">Jméno Dina</label>
        <input type="text" name="name" id="name" required value="@dinos.Name" class="form-control">
    </div>
    <div class="m-3">
        <label for="popis" class="form-label">Popis Dina</label>
        <textarea name="popis" id="popis" cols="30" rows="10" class="form-control">@dinos.Description</textarea>
    </div>
    <div class="m-3">
        <label for="when" class="form-label">Kdy žil</label>
        <select name="when" id="when" class="form-select">
            @foreach(When when in whens)
            {
                if (when.Id == dinos.When.Id)
                {
                    <option value="@when.Id" selected >@when.Name</option>
                }else
                {
                    <option value="@when.Id">@when.Name</option>
                }
            }
        </select>
    </div>
    <div class="m-3">
        <label for="pic" class="form-label">Obrázek Dina</label>
        <input type="file" name="pic" id="pic" class="form-control">
    </div>
    <div class="m-3">
        <input type="submit" value="Aktualizovat" class="form-control btn btn-primary">
        <button asp-controller="Home" asp-action="Index" class="form-control btn btn-danger mt-1">Zrušit</button>
    </div>
</form>